<div class="data-table">
  <div class="data-table__header">
    @if (selectable()) {
      <div class="data-table__cell data-table__cell--checkbox">
        <app-checkbox [checked]="selectAll()" (checkedChange)="onSelectAll($event)" />
      </div>
    }
    @for (col of columns(); track col.key) {
      <div class="data-table__cell" [style.width]="col.width || 'auto'" [style.flex]="col.width ? 'none' : '1'">
        <span class="data-table__header-label">{{ col.label }}</span>
        @if (col.sortable) {
          <span class="data-table__sort-icon" (click)="onSort(col.key)">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 3L12 7H6L9 3Z" fill="#999"/>
              <path d="M9 15L6 11H12L9 15Z" fill="#999"/>
            </svg>
          </span>
        }
      </div>
    }
  </div>
  <div class="data-table__body">
    <ng-content />
  </div>
</div>
