<div class="page">
  <app-page-header title="管理员分配" desc="管理员可以使用被分管锁在组织内管理信息的所有功能" [showHelp]="true" />
  <app-split-layout>
    <ng-container left>
      <app-search-input placeholder="搜索" [fullWidth]="true" />
      <app-tree-list [items]="treeItems()" [activeId]="activeTreeId()" (select)="onTreeSelect($event)" />
    </ng-container>
    <ng-container right>
      <app-action-bar>
        <ng-container left>
          <div class="assign-header">
            <span class="panel-title">分配中 - {{ selectedMember() }}</span>
            <span class="update-time">更新时间：2025-11-01 14:30</span>
          </div>
        </ng-container>
        <ng-container right>
          <app-button label="取消" type="outline" />
          <app-button label="保存" type="primary" />
        </ng-container>
      </app-action-bar>
      @if (isLoading()) {
        <div class="state-loading">加载中...</div>
      } @else {
        <div class="table-wrap">
          <table>
            <thead>
              <tr>
                <th class="col-check"><input type="checkbox" class="checkbox" /></th>
                <th>业务名称</th>
                <th>购买时间</th>
                <th>使用期限（天）</th>
                <th>描述</th>
              </tr>
            </thead>
            <tbody>
              @for (row of businessItems(); track row.name) {
                <tr>
                  <td class="col-check"><input type="checkbox" class="checkbox" /></td>
                  <td>{{ row.name }}</td>
                  <td>{{ row.buyDate }}</td>
                  <td>{{ row.period }}</td>
                  <td class="text-muted">{{ row.desc }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </ng-container>
  </app-split-layout>
</div>
