<nav class="icon-sidebar">
  <div class="icon-sidebar__items">
    @if (logoImage()) {
      <img class="icon-sidebar__logo" [src]="logoImage()" [alt]="logoText()" />
    } @else {
      <div class="icon-sidebar__logo">{{ logoText() }}</div>
    }
    @for (item of items(); track item.key) {
      <div class="icon-sidebar__item" [class.icon-sidebar__item--active]="item.key === activeKey()" (click)="activeKeyChange.emit(item.key)">
        <span class="icon-sidebar__icon" [innerHTML]="getIcon(item.icon)"></span>
        <span class="icon-sidebar__label">{{ item.label }}</span>
      </div>
    }
  </div>
</nav>
