<div class="app-layout">
  <app-icon-sidebar [items]="navItems()" [activeKey]="activeNavKey()" (activeKeyChange)="activeNavKey.set($event)" />
  <div class="app-layout__main">
    <app-top-tab-bar [tabs]="tabs()" [activeKey]="activeTabKey()" [notificationCount]="notificationCount()" (activeKeyChange)="activeTabKey.set($event)" (tabClose)="closeTab($event)" />
    <div class="app-layout__content">
      <app-sub-sidebar [groups]="menuGroups()" [activeKey]="activeMenuKey()" (activeKeyChange)="onMenuChange($event)" />
      <div class="app-layout__page">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
